aside {
  background: #eee;
  width: 350px;
  height: 100%;
  outline-offset: -.75rem;

  &.active {
    opacity: 0.5;
    outline: 2px dashed #999;
  }
}

.font,
.add-btn {
  cursor: pointer;
  display: flex;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: .5rem 1.5rem;

  &:hover {
    background: #ddd;
  }
}

.font {

  i,
  span {
    opacity: .5;
  }

  &.active :is(i, span) {
    opacity: 1;
    font-weight: bold;
  }

  .btn-close {
    display: none;
  }

  &:hover .btn-close {
    display: block;

  }
}