aside {
  background: #eee;
  width: 300px;
  height: 100%;
}

.drop-area {
  // height: 30px;
  outline-offset: -2px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    opacity: 0.5;
    outline: 2px dashed #999;
  }

  .icon {
    font-size: 50px;
    color: #999;
  }

  label {
    cursor: pointer;
  }
  .label {
    font-weight: bold;
  }

  label:hover .label {
    text-decoration: underline;
  }
}
