aside {
  background: #eee;
  width: 300px;
  height: 100%;
  outline-offset: -.75rem;

  &.active {
    opacity: 0.5;
    outline: 2px dashed #999;
  }
}

.drop-area {
  label {
    cursor: pointer;
    display: block;
  }

  label:hover b {
    text-decoration: underline;
  }
}
