<aside class="p-4" [class.active]="showBorder">
  <h4>Fonts</h4>
  <div *ngIf="!fonts.length" class="text-muted fst-italic">
    no font selected
  </div>
  <div class="list-group mb-3">
    <button
      *ngFor="let font of fonts"
      class="list-group-item list-group-item-action"
    >
      {{ font.name }}
    </button>
  </div>

  <label class="btn btn-primary w-100" role="button" for="file-input">
    <input
      #fileInput
      type="file"
      id="file-input"
      class="d-none"
      accept=".ttf,.otf,.woff,.woff2"
      multiple
      (change)="upload($any($event.target).files); fileInput.value = ''"
    />
    <i class="bi bi-plus"></i> Choose a file
  </label>
  <div class="text-center">or</div>
  <div class="text-center fw-bold">drag it here</div>
</aside>
