.grid {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  height: calc(100vh - 190px);;
  overflow: auto;
}

.glyph {
  border: 1px solid #ccc;
  height: 4rem;
  width: 4rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}
