h1 {
    font-size: 96px;
}

.text-area {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 1rem;
}

/*------ Style 1 ------*/

.btn-color {
    display: flex;
}

input[type="color"]:not(.hidden-color) {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #000;
    padding: 0;
    overflow: hidden;
    display: block;
    height: auto;
    border-radius: 4px;
    margin-top: calc(-1* var(--bs-btn-padding-y) + .25rem);
    margin-bottom: calc(-1* var(--bs-btn-padding-y) + .25rem);
    margin-left: calc(-1* var(--bs-btn-padding-x) + .25rem);
    margin-right: calc(-1* var(--bs-btn-padding-x) + .25rem);
    width: 1.75rem;

    &::-webkit-color-swatch {
        border: none;
    }
}
.hidden-color {
    visibility: hidden;
    position: absolute;
}

.btn-c span {
    display: block;
    width: 1rem;
    border-bottom: 4px solid;
    margin-top: 2px;
    line-height: 1;
}

.btn-b span {
    display: block;
    width: 1.5rem;
    border-radius: 4px;
    border: 1px solid;
}